/*
Author:Walter Zou;
Date:2013-09-04 ;
*/
 @charset"utf-8";
 body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin:0;
    padding:0
}
body, button, input, select, textarea {
    font-family:Georgia, 'Microsoft Yahei', 微软黑体, Times New Roman, serif, STHeiti, "华文细黑";
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}
address, cite, dfn, em, var, i {
    font-style:normal
}
code, kbd, pre, samp {
    font-family:courier new, courier, monospace
}
small {
    font-size:12px
}
ul, ol {
    list-style:none
}
a {
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
sup {
    vertical-align:text-top
}
sub {
    vertical-align:text-bottom
}
legend {
    color:#000
}
fieldset, img {
    border:0
}
button, input, select, textarea {
    font-size:100%
}
table {
    border-collapse:collapse;
    border-spacing:0
}
.clearfix {
    *zoom:1
}
.clearfix:after {
    display:block;
    content:"";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden
}
.fl {
    float:left
}
.fr {
    float:right
}
html,body{
    height: 100%;
    overflow:hidden
}
body {
    font-size:14px;
    font-family:Georgia, 'Microsoft Yahei', 微软黑体, Times New Roman, serif, STHeiti, "华文细黑";
    color:#444;
}
a:link, a:visited {
    color:#666;
    text-decoration:none
}
a:hover {
    color:#007acc;
    text-decoration:underline;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:40px;
    background:-webkit-linear-gradient(top, #5b6874 0%, #3e5162 100%);
    color:#fff;
    font-size:16px;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius:3px 3px 0 0;
    box-sizing:border-box;
    z-index:2;
    -webkit-user-select:none;
    overflow:hidden;
}
header .logo {
    width:20%;
    float:left;
    padding-left:20px;
    line-height:30px;
}
header .action-bar {
    float:right;
    font-size:24px;
}
header .action-bar a {
    display:inline-block;
    color:#fff;
    width:40px;
    height:40px;
    line-height:32px;
    text-align:center;
}
header .action-bar a:hover {
    background:#314057;
    text-decoration:none;
}
header .action-bar .close:hover {
    background:#c73236;
}
.wrapper {
    height: 100%;
    box-sizing:border-box;
    padding-top:40px;
    position:relative;
}
.menubar {
    float:left;
    width:210px;
    height:100%;
    border-right:1px solid #ccc;
    background:#e2e5e9;
    -webkit-user-select:none;
}
.menubar .catogory {
    height:40px;
    line-height:40px;
    font-size:16px;
    background:-webkit-linear-gradient(top, #c0c7cf 0%, #aeb5bd 100%);
    border-top:1px solid #95999e;
    border-bottom:1px solid #7a818a;
    padding-left:15px;
    color:#3c444b;
    font-weight:bold;
    text-shadow:1px 1px 1px #eee;
}
.menubar .list li {
    height:38px;
    color:#777f8b;
    cursor:pointer;
    padding-right:15px;
}
.menubar .list i,.menubar .list h3 {
    float:left;
    line-height:36px;
}
.menubar .list i {
    margin:0 10px 0 15px;
    width:26px;
    height:36px;
    text-align:center;
    font-size:16px;
    font-family:'icomoon';
}
.menubar .list i img{
    width:24px;
    height:24px;
    margin-top:5px;
    border-radius:24px;
    border:2px solid #fff;
    transition:all 1s ease;
}
.menubar .list li:hover img{
    -webkit-transform:rotate(360deg);
}
.menubar .list li:hover{
    color:#26ae90;
    padding-right:10px;
    border-right:5px solid #26ae90;
    box-shadow:0 1px 2px rgba(0,0,0,0.3), 0 -1px 1px rgba(0,0,0,0.3)
}
.menubar .list .on,.menubar .list .on:hover{
    background:-webkit-linear-gradient(top,#26ae90 0%,#149c7e 100%);
    color:#fff;
}
.main{
    margin-left:210px;
    height:100%;
}
.main .sidebar{
    float:left;
    width:320px;
    height:100%;
    padding-top:42px;
    box-sizing:border-box;
    border-right:1px solid #ccc;
    position:relative;
}
.main .sidebar-hd{
    position:absolute;
    top:0;
    left:0;
    width:290px;
    height:40px;
    border-bottom:1px solid #c8c8c8;
    border-top:1px solid #c8c8c8;
    background:-webkit-linear-gradient(top,#e6e9ed 0%,#d4d7db 100%);
    padding:0 15px;
    z-index:10;
}
.main .sidebar-hd span{
    float:left;
    line-height:40px;
    font-size:16px;
    color:#26ae90;
    font-weight:bold;
    text-shadow:0 1px 1px #fff;
}
.main .sidebar-hd a{
    float:right;
    font-family:'icomoon';
    font-size:16px;
    padding:5px;
    margin-top:6px;
    border:1px solid #26ae90;
    color:#26ae90;
    border-radius:10px;
    text-decoration:none;
    cursor:pointer;
    transition:all 0.2s ease;
}
.main .sidebar-hd a:hover{
    background:#26ae90;
    color:#fff;
    border-radius:29px;
}
.main .sidebar-wrap{
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
}
.main .topic-list li{
    border-top:1px solid #fff;
    border-bottom:1px solid #c5c8cc;
    padding:10px 15px;
    color:#9fa4aa;
    cursor:pointer;
    overflow:hidden;
}
.main .topic-list li:hover{
    margin-top:-1px;
    padding-top:11px;
    border-bottom-color:#1a8c73;
    border-top-color:#22aa8c;
    box-shadow:inset 0 0 3px rgba(0,0,0,0.5)
}
.main .topic-list li:hover h4{
    color:#26ae90;
}
.main .topic-list .on{
    background:#26ae90;
    color:#bcebe1;
    border-bottom-color:#1a8c73;
    border-top-color:#1a8c73;
    cursor:default;
}
.main .topic-list sup{
    float:right;
    padding:0 5px;
    border:1px solid #d9dbdc;
    border-radius:3px;
    color:#26ae90;
}
.main .topic-list .on sup{
    color:#fff;
}
.main .topic-list .on .avatar{
    border-color:#bcebe1;
}
.main .topic-list .avatar{
    float:left;
    width:36px;
    height:36px;
    border:1px solid #808284;
    border-radius:5px;
    transition:all 0.3s ease;
    overflow:hidden;
}
.main .post-single{
    margin-left:50px;
}
.main .topic-list cite{
    font-size:12px;
}
.main .topic-list h4{
    margin:5px 0;
    line-height:1.5;
    color:#333
}
.main .topic-list span{
    display:block;
    font-size:12px;
}
.main .topic-list .on h4{
    color:#fff!important;
}
.refresh{
    font-family:'icomoon';
    font-size:14px;
    display:inline-block;
    color:#9fa7b3;
    margin:0 5px;
    font-weight:normal;
    transition:all 0.2s ease;
    cursor:default;
}
.refresh:hover{
    color:#149c7e;
}
.ajax-loader{
    height:36px;
    background:url(../img/ajax-loader.gif) center no-repeat;
}
::-webkit-scrollbar{
    width:0;
    height:0;
}