/*
Author:Walter Zou;
Date:2013-09-04 ;
*/
 @charset"utf-8";
 body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin:0;
    padding:0
}
body, button, input, select, textarea {
    font-family:Georgia, 'Microsoft Yahei', 微软黑体, Times New Roman, serif, STHeiti, "华文细黑";
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}
address, cite, dfn, em, var, i {
    font-style:normal
}
code, kbd, pre, samp {
    font-family:courier new, courier, monospace
}
small {
    font-size:12px
}
ul, ol {
    list-style:none
}
a {
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
sup {
    vertical-align:text-top
}
sub {
    vertical-align:text-bottom
}
legend {
    color:#000
}
fieldset, img {
    border:0
}
button, input, select, textarea {
    font-size:100%
}
table {
    border-collapse:collapse;
    border-spacing:0
}
.clearfix {
    *zoom:1
}
.clearfix:after {
    display:block;
    content:"";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden
}
.fl {
    float:left
}
.fr {
    float:right
}
html,body{
    height: 100%;
    overflow:hidden
}
body {
    font-size:14px;
    font-family:Georgia, 'Microsoft Yahei', 微软黑体, Times New Roman, serif, STHeiti, "华文细黑";
    color:#444;
}
a:link, a:visited {
    color:#666;
    text-decoration:none
}
a:hover {
    color:#007acc;
    text-decoration:underline;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:40px;
    background:-webkit-linear-gradient(top, #5b6874 0%, #3e5162 100%);
    color:#fff;
    font-size:16px;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius:3px 3px 0 0;
    box-sizing:border-box;
    z-index:2;
    -webkit-user-select:none;
    overflow:hidden;
}
header .logo {
    width:20%;
    float:left;
    padding-left:20px;
    line-height:30px;
}
header .action-bar {
    float:right;
    font-size:24px;
}
header .action-bar a {
    display:inline-block;
    color:#fff;
    width:40px;
    height:40px;
    line-height:32px;
    text-align:center;
}
header .action-bar a:hover {
    background:#314057;
    text-decoration:none;
}
header .action-bar .close:hover {
    background:#c73236;
}
.wrapper {
    height: 100%;
    box-sizing:border-box;
    padding-top:40px;
    position:relative;
}
.menubar {
    width:210px;
    height:100%;
    border-right:1p solid #c3c6ca;
    background:#e2e5e9;
    -webkit-user-select:none;
}
.menubar .catogory {
    height:40px;
    line-height:40px;
    font-size:16px;
    background:-webkit-linear-gradient(top, #c0c7cf 0%, #aeb5bd 100%);
    border-top:1px solid #95999e;
    border-bottom:1px solid #7a818a;
    padding-left:15px;
    color:#3c444b;
    font-weight:bold;
    text-shadow:1px 1px 1px #eee;
}
.menubar .list li {
    height:38px;
    color:#777f8b;
    cursor:pointer;
    padding-right:15px;
}
.menubar .list i,.menubar .list h3 {
    float:left;
    line-height:36px;
}
.menubar .list i {
    margin:0 10px 0 15px;
    width:26px;
    height:36px;
    text-align:center;
    font-size:16px;
    font-family:'icomoon';
}
.menubar .list i img{
    width:24px;
    height:24px;
    margin-top:5px;
    border-radius:24px;
    border:2px solid #fff;
    transition:all 0.5s ease;
}
.menubar .list li:hover img{
    -webkit-transform: rotate(360deg);
}
.menubar .list li:hover{
    color:#26ae90;
    padding-right:10px;
    border-right:5px solid #26ae90;
    box-shadow:0 1px 2px rgba(0,0,0,0.3), 0 -1px 1px rgba(0,0,0,0.3)
}
.menubar .list .on,.menubar .list .on:hover{
    background:-webkit-linear-gradient(top,#26ae90 0%,#149c7e 100%);
    color:#fff;
}
