/*
Author:Walter Zou;
Date:2013-09-04 ;
*/
 @charset"utf-8";
 body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin:0;
    padding:0
}
body, button, input, select, textarea {
    font-size:14px;
    font-family:'Microsoft Yahei', Tahoma, Arial, HELVETICA
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%
}
address, cite, dfn, em, var, i {
    font-style:normal
}
code, kbd, pre, samp {
    font-family:courier new, courier, monospace
}
small {
    font-size:12px
}
ul, ol {
    list-style:none
}
a {
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
sup {
    vertical-align:text-top
}
sub {
    vertical-align:text-bottom
}
legend {
    color:#000
}
fieldset, img {
    border:0
}
button, input, select, textarea {
    font-size:100%
}
table {
    border-collapse:collapse;
    border-spacing:0
}
.clearfix {
    *zoom:1
}
.clearfix:after {
    display:block;
    content:"";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden
}
.fl {
    float:left
}
.fr {
    float:right
}
body {
    font-size:14px;
    color:#444;
}
a:link, a:visited {
    color:#666;
    text-decoration:none
}
a:hover {
    color:#007acc;
    text-decoration:underline;
}
.wrapper {
    width:800px;
    height:600px;
    background:#F8F7F2;
}
header {
    height:36px;
    background:-webkit-linear-gradient(top, #44474a 0%, #36393c 100%);
    color:#fff;
    font-size:16px;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}
header .logo {
    width:20%;
    float:left;
}
header .action-bar {
    float:right;
    font-size:24px;
}
header .action-bar a {
    display:inline-block;
    color:#fff;
    width:40px;
    height:36px;
    line-height:32px;
    text-align:center;
}
header .action-bar a:hover {
    background:#39414d;
    text-decoration:none;
}
header .action-bar .close:hover {
    background:#c73236;
}
.progress {
    height: 26px;
    line-height:26px;
    text-align:center;
    background:#fdc3c4;
    border-bottom: 1px solid #fff;
    position:relative
}
.progress .progress-bar {
    position:absolute;
    top:0;
    left:0;
    width:90%;
    height:26px;
    background-color:#ef6a6c;
    z-index:2;
}
.progress .progress-tip {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    z-index:3;
}
.progress .progress-tip span {
    font-size:20px;
    font-weight:bold;
    font-family:Constantia, Georgia;
    font-style:italic;
    color:#fff;
    padding:0 3px;
}
.tabs li {
    float:left;
    cursor:pointer;
    width:45px;
    line-height:20px;
    border:1px solid #ddd;
    margin-right:5px;
    word-break:break-all;
    word-wrap:break-word;
}