<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>孕期提醒</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
       <div class="logo">妈妈社区</div>
       <div class="action-bar"><a href="#" class="minimize">-</a><a href="#" class="close">×</a></div>
    </header>
    <div class="wrapper">
        <div class="menubar">
            <div class="catogory">孕期提醒</div>
            <ul class="list">
                <li><i>;</i><h3>宝宝发育</h3></li>
                <li><i>'</i><h3>本周指南</h3></li>
                <li><i>F</i><h3>温馨提醒</h3></li>
            </ul>
            <div class="catogory">妈妈社区</div>
            <ul class="list">
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10001.png" width="30" height="30" /></i>
                    <h3>十月怀胎</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10002.png" width="30" height="30" /></i>
                    <h3>育儿交流</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10003.png" width="30" height="30" /></i>
                    <h3>女人心情</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10004.png" width="30" height="30" /></i>
                    <h3>美食厨房</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10005.png" width="30" height="30" /></i>
                    <h3>麻辣婆媳</h3>
                </li>
                <li class="on">
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10006.png" width="30" height="30" /></i>
                    <h3>宝宝秀场</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10008.png" width="30" height="30" /></i>
                    <h3>90后妈妈</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10009.png" width="30" height="30" /></i>
                    <h3>夫妻情感</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10010.png" width="30" height="30" /></i>
                    <h3>准备怀孕</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10011.png" width="30" height="30" /></i>
                    <h3>母乳喂养</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10012.png" width="30" height="30" /></i>
                    <h3>活动与帮助</h3>
                </li>
            </ul>
        </div>
        <div class="main forum">
            <div class="sidebar">
                <div class="sidebar-hd"><span>十月怀胎<i class="refresh" title="刷新">6</i></span><a href="javascript:" title="发表新帖">I</a></div>
                <div class="sidebar-wrap">
                    <div class="sidebar-wrap-body">
                        <div class="ajax-loader"></div>
                        <ul class="topic-list">
                    <li>
                        <a href="javascript:" class="avatar"><img src="http://www.qubaobei.com/files/head/50/20130917/13793838479856.jpg" alt=""></a>
                        <div class="post-single">
                            <sup>10</sup>
                            <cite>战斗着de小强</cite>
                            <h4>双胞胎！36周加两天了，今天住院待产呢！</h4>
                            <span>RT</span>
                        </div>
                    </li>
                    <li class="on">
                        <a href="" class="avatar"><img src="http://www.qubaobei.com/files/head/50/20130729/13750761693233.jpg" alt=""></a>
                        <div class="post-single">
                            <sup>10</sup>
                            <cite>战斗着de小强</cite>
                            <h4>双胞胎！36周加两天了，今天住院待产呢！</h4>
                            <span>RT</span>
                        </div>
                    </li>
                    <li>
                        <a href="" class="avatar"><img src="http://www.qubaobei.com/files/head/50/20130821/38/111780231588.jpg" alt=""></a>
                        <div class="post-single">
                            <sup>10</sup>
                            <cite>战斗着de小强</cite>
                            <h4>双胞胎！36周加两天了，今天住院待产呢！</h4>
                            <span>RT</span>
                        </div>
                    </li>
                    <li>
                        <a href="" class="avatar"><img src="http://www.qubaobei.com/files/head/50/20130715/13738897779788.jpg" alt=""></a>
                        <div class="post-single">
                            <sup>10</sup>
                            <cite>战斗着de小强</cite>
                            <h4>双胞胎！36周加两天了，今天住院待产呢！</h4>
                            <span>RT</span>
                        </div>
                    </li>
                    <li>
                        <a href="" class="avatar"><img src="http://www.qubaobei.com/files/head/50/20130902/13780894645917.jpg" alt=""></a>
                        <div class="post-single">
                            <sup>10</sup>
                            <cite>战斗着de小强</cite>
                            <h4>双胞胎！36周加两天了，今天住院待产呢！</h4>
                            <span>RT</span>
                        </div>
                    </li>
                                        <li>
                        <a href="" class="avatar"><img src="http://www.qubaobei.com/files/head/50/20130902/13780894645917.jpg" alt=""></a>
                        <div class="post-single">
                            <sup>10</sup>
                            <cite>战斗着de小强</cite>
                            <h4>双胞胎！36周加两天了，今天住院待产呢！</h4>
                            <span>RT</span>
                        </div>
                    </li>
                                        <li>
                        <a href="" class="avatar"><img src="http://www.qubaobei.com/files/head/50/20130902/13780894645917.jpg" alt=""></a>
                        <div class="post-single">
                            <sup>10</sup>
                            <cite>战斗着de小强</cite>
                            <h4>双胞胎！36周加两天了，今天住院待产呢！</h4>
                            <span>RT</span>
                        </div>
                    </li>
                                        <li>
                        <a href="" class="avatar"><img src="http://www.qubaobei.com/files/head/50/20130902/13780894645917.jpg" alt=""></a>
                        <div class="post-single">
                            <sup>10</sup>
                            <cite>战斗着de小强</cite>
                            <h4>双胞胎！36周加两天了，今天住院待产呢！</h4>
                            <span>RT</span>
                        </div>
                    </li>
                </ul>
                        <div class="ajax-loader"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container-hd"></div>
                <div class="container-wrap">
                    <div class="container-wrap-body">
                        <h1>25周＋，四维检查结果说宝宝臀位，说搞不好要剖腹产，心里好怕额！</h1>
                        <ul class="post">
                            <li>
                                <section>
                                   <a href="#">
                                       <img src="http://www.qubaobei.com/files/head/50/20130922/7/241835780324.jpg" alt="">
                                       <span><strong>小怪兽</strong>1天，江苏 南京</span>
                                       <small>2013-09-25 14:32</small>
                                   </a>
                                   <em>1L</em>
                                </section> 
                                <article>
                                  感觉现在胸部有点下垂了，看着就有点伤心，乳晕又大，乳头尖尖的，还有点下垂，自己都看不过去，不穿文胸的话好不舒服，感觉胸部都快掉下去了一样，现在就这样了那以后生了宝宝，给宝宝断奶以后会变成什么样啊真心的感觉好痛苦
                                  <img src="http://f.baoz.cn/f/c08e0f57fbce2f331ef49ce8dbcf355e.t720x405.jpg" alt="">
                                </article>
                            </li>
                            <li>
                                <section>
                                   <a href="#">
                                       <img src="http://www.qubaobei.com/files/head/50/20130922/7/241835780324.jpg" alt="">
                                       <span><strong>小怪兽</strong>1天，江苏 南京</span>
                                       <small>2013-09-25 14:32</small>
                                   </a>
                                   <em>1L</em>
                                </section> 
                                <article>
                                  感觉现在胸部有点下垂了，看着就有点伤心，乳晕又大，乳头尖尖的，还有点下垂，自己都看不过去，不穿文胸的话好不舒服，感觉胸部都快掉下去了一样，现在就这样了那以后生了宝宝，给宝宝断奶以后会变成什么样啊真心的感觉好痛苦
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../static/js/iscroll.js"></script>
    <script type="text/javascript">
            $('.sidebar-wrap').iScroll();
            $('.container-wrap').iScroll();
    </script>
</body>
</html>