<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>孕期提醒</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
       <div class="logo">妈妈社区</div>
       <div class="action-bar"><a href="#" class="minimize">-</a><a href="#" class="close">×</a></div>
    </header>
    <div class="wrapper">
        <div class="menubar">
            <div class="catogory">孕期提醒</div>
            <ul class="list">
                <li><i>;</i><h3>宝宝发育</h3></li>
                <li><i>'</i><h3>本周指南</h3></li>
                <li><i>F</i><h3>温馨提醒</h3></li>
            </ul>
            <div class="catogory">妈妈社区</div>
            <ul class="list">
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10001.png" width="30" height="30" /></i>
                    <h3>十月怀胎</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10002.png" width="30" height="30" /></i>
                    <h3>育儿交流</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10003.png" width="30" height="30" /></i>
                    <h3>女人心情</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10004.png" width="30" height="30" /></i>
                    <h3>美食厨房</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10005.png" width="30" height="30" /></i>
                    <h3>麻辣婆媳</h3>
                </li>
                <li class="on">
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10006.png" width="30" height="30" /></i>
                    <h3>宝宝秀场</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10008.png" width="30" height="30" /></i>
                    <h3>90后妈妈</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10009.png" width="30" height="30" /></i>
                    <h3>夫妻情感</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10010.png" width="30" height="30" /></i>
                    <h3>准备怀孕</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10011.png" width="30" height="30" /></i>
                    <h3>母乳喂养</h3>
                </li>
                <li>
                    <i><img src="http://www.qubaobei.com/newstyle/images/quan_img/10012.png" width="30" height="30" /></i>
                    <h3>活动与帮助</h3>
                </li>
            </ul>
        </div>
        <div class="main clearfix">
            <div class="topic-list">
                
            </div>
        </div>
    </div>
</body>
</html>