<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    
<script>
    
function caculateDueDate(date,period){
    var LMP=new Date(date),
        year=LMP.getFullYear(),
        month=LMP.getMonth()+1,
        day=LMP.getDate(),
        diff=7+period-28,
        d;
    console.log(year,month,day,diff);
    if(month<=3){
        month+=9;
        day=day+diff;
        if(month>12){
            year+=1;
            month-=12;
        }
    }else{
        month-=3;
        year+=1;
        day=day+diff;
    }
    switch(month){
        case 4,6,9,11:
            d=30;
        break;
        case 2:
            if(year%4==0){
                d=29;
            }else{
                d=28;
            }
        break;
        default:
            d=31;
    }
    if(day>d){
        month+=1;
        day-=d;
        if(month>12){
            year+=1;
        }
    }
     return year+'-'+month+'-'+day;
}
    
 console.log(caculateDueDate('2013-2-24',28),caculateDueDate('2013-6-25',28));
</script>
</body>
</html>